<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://w.forfun.com/fetch/33/33659df52bec8f60195fbb799bd88b3c.jpeg"
      cardTitle="SOLO LEVELING"
      cardDescription="Ergam-se."
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="The Beginning After The End"
      photoCover="https://c.wallhere.com/photos/b1/e5/The_Beginning_After_The_End_Arthur_Leywin_novel_anime_boys_anime_artwork-2114347.jpg!d"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Lookism"
      photoCover="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABTR7SmyZYW-8yWNiRGtb1bmvaA4PwfAL9LOzRMXHC4Ub6qTMN6ExvunGnaPH3mM6G6Hl7c8DUJ5GKp40tQjzurcqG-CqRy3_5zNM.jpg?r=07d"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Blue Lock"
      photoCover="https://static.wikia.nocookie.net/bluelock/images/1/15/Chapter_117_%28union_pages%29.png/revision/latest?cb=20230325003152"
    >
    </app-small-card>
  </div>
</div>
